body{
    background-image: url(../simple-ai-chess/img/background.jpg);
    background-size: cover;
}

.board {
    width: 550px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.info {
    width: 200px;
    margin: 20px 20px 0px 20px;
    
}

.move-history {
    max-height: 300px;
    overflow-y: scroll;
}

.main {
    background-color: white;
    height: 625px;
    width: max-content;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.index{
    display: flex;
}

button{
    font-family: sans-serif;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: #167bff;
    color: white;
}

button:hover{
    height: 50px;
    width: 200px;
}

h1{
    color: orange;
    margin-top: 20px;    
}

/* .notifyjs-metro-base {
    margin-top: 200px;
    margin-left: 200px;
    min-height: 52px;
    color:#444;
}

.notifyjs-metro-base .image {
    display: table;
    margin-top: 200px;
    margin-left: 200px;
    height: auto;
    width: auto;
    left: 25px;
    top: 50%;

    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notifyjs-metro-base .text-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 100px 100px 100px 100px;
    clear: both;
    font-family: 'Segoe UI';
}

.notifyjs-metro-base .title {
    font-size: 15px;
    font-weight: bold;
}

.notifyjs-metro-base .text {
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
} */